body{
   
}
.bg-primary{
	background-color:pink!important;
	background-image:none;
	background-repaet:no-repeat;
	
}
.bg-primary1{
	background-color:light-blue!important;
	background-image:none;
	background-repaet:no-repeat;
	
}